<header>
        <div class="container">
        <ul class="social">

        <li class="sociallink"><a href="https://uk.linkedin.com/in/eugenemurray" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>        
              <li class="sociallink"><a href="https://www.facebook.com/eugene.murray.33" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
              <li class="sociallink"><a href="https://uk.pinterest.com/eugenemurray/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
              <li class="sociallink"><a href="https://twitter.com/cuamurre" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li class="sociallink"><a href="https://www.tumblr.com/blog/html5js" target="_blank"><i class="fa fa-tumblr-square"></i></a></li>
              <li class="sociallink"><a href="#"><i class="fa fa-stumbleupon"></i></a></li>
              <li class="sociallink"><a href="https://plus.google.com/u/0/+EugeneMurray-net/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>
              <li class="sociallink"><a href="https://instagram.com/cuamurre/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li class="sociallink"><a href="https://www.flickr.com/photos/eugenemurray/" target="_blank"><i class="fa fa-flickr"></i></a></li>
              <li class="sociallink"><a href="https://vine.co/" target="_blank"><i class="fa fa-vine"></i></a></li>
              <li class="sociallink"><a href="https://www.youtube.com/channel/UCVh5VkY4txXuXMLnQ1ww4pw" target="_blank"><i class="fa fa-youtube"></i></a></li>
            </ul>
            </div>
        </header>