


<ul class="nav nav-pills">
  	<il role="presentation" ><img src="../assets/img/510.png" width="200"/></il>
    <il role="presentation" ><img src="../assets/img/javascript_logo_unofficial-300x300.png" width="200" /></il>
    <il role="presentation" ><img src="../assets/img/nodejs-1024x768.png" width="200" /></il>
    <il role="presentation" ><img src="../assets/img/visual_studio.png" width="200" /></il>
    <il role="presentation" ><img src="../assets/img/azure-logo.jpg" width="200" /></il>
    <il role="presentation" ><img src="../assets/img/angularjs-logo.png" width="200" /></il>
    <il role="presentation" ><img src="../assets/img/jquery.jpg" width="200" /></il>
    <il role="presentation" ><img src="../assets/img/knockout.jpg" width="200"/></il>
    <il role="presentation" ><img src="../assets/img/d3js-logo.jpg" width="200"/></il>
    <il role="presentation" ><img src="../assets/img/creativecloud_wallpaper2.jpg" width="200"/></il>
</ul>
